@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&family=Oswald:wght@300;400;500;600;700&display=swap");
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
}

html {
  overflow-y: scroll;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td,
td img {
  vertical-align: top;
}

img,
video {
  width: 100%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button,
input,
select,
textarea {
  margin: 0;
}

button,
input[type=button] {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

address {
  font-style: normal;
}

/* color */
/* font */
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

#access .home_title h1, .full_width_clinic_hours #clinic-hours .home_title h1, .full_width_recruit #recruit .btn_more, #blog .btn_more, #blog .home_title h1, .full_width_new_topic #news-and-topics .btn_more, .full_width_new_topic #news-and-topics .home_title h1, #album .album_social, #album .home_title h1, #mushiba .mushiba_border_wrapper .mushiba_border .btn_more, #mushiba .mushiba_border_wrapper .mushiba_border .home_title h1, .full_width_staff_schedule #staff-and-schedule .card_stripe .card_stripe_background .home_title h1, #inform .home_title h1, #about-us .btn_more, #about-us .point_card_list .point_card .point_card_balloon .point_count, #about-us .home_title h1 {
  font-family: "Oswald", sans-serif;
}

header .header_wrapper .header_menu .header_nav ul li a p {
  color: #ffffff;
}
header .header_wrapper .header_menu .header_nav ul li a p:first-child {
  font-size: 0.825rem;
  font-weight: 400;
  text-transform: uppercase;
}
header .header_wrapper .header_menu .header_nav ul li a p:last-child {
  font-size: 0.625rem;
  font-weight: 300;
}

.menu_shortcut ul li {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.125rem;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  -webkit-text-size-adjust: 100%;
  text-align: center;
}

main {
  margin: 0 auto;
}

.container {
  max-width: 1080px;
  margin: auto;
}

.full_width {
  width: 100%;
}

a {
  color: #000000;
}

header {
  width: 100%;
  height: 83px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  position: fixed;
  transition: all 0.3s ease;
}
header .header_wrapper {
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header_wrapper .header_logo {
  width: 161px;
  height: 55px;
  overflow: hidden;
  position: relative;
  margin-top: 2px;
}
header .header_wrapper .header_logo img {
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
header .header_wrapper .header_menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
header .header_wrapper .header_menu .header_nav ul {
  width: 100%;
  margin-top: 11px;
  display: flex;
  gap: 25px;
}
header .header_wrapper .header_menu .header_nav ul li a p:first-child {
  text-decoration: underline transparent;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
  transition: all 0.3s ease;
  margin-bottom: 8px;
}
header .header_wrapper .header_menu .header_nav ul li:hover a p:first-child {
  text-decoration-color: #f39800;
}
header .header_wrapper .header_menu address {
  display: flex;
}
header .header_wrapper .header_menu address .header_dial {
  margin-left: 15px;
  width: 195px;
  height: 63px;
  background-color: #f39800;
  border-radius: 0 0 15px 15px;
  color: #ffffff;
  text-align: center;
  align-self: flex-start;
}
header .header_wrapper .header_menu address .header_dial p {
  font-size: 0.873rem;
  font-weight: 400;
}
header .header_wrapper .header_menu address .header_dial div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
header .header_wrapper .header_menu address .header_dial div img {
  width: 17px;
  height: 17px;
}
header .header_wrapper .header_menu address .header_dial div p {
  font-size: 1.5rem;
}

.landing_page_wrapper {
  width: 100%;
  height: 100vh;
  max-height: 1063px;
  overflow: hidden;
  background-image: url(../asset/png/lp.png);
  background-size: cover;
  position: relative;
}
.landing_page_wrapper .landing_page_logo {
  width: 519px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50% 50%);
  margin-left: -259.5px;
  margin-top: -88.5px;
}
.landing_page_wrapper .landing_page_logo img {
  width: 519px;
  margin-bottom: 29px;
}
.landing_page_wrapper .landing_page_logo p {
  font-size: 2rem;
  font-weight: 300;
  color: #ffffff;
}
.landing_page_wrapper .landing_page_logo .landing_page_arrow {
  height: 26.69px;
  width: 53.38px;
  position: inherit;
  top: 50%;
  left: 50%;
  margin-top: 273px;
  transform: translate(50% 50%);
  animation: movingArrow 2s ease-in-out infinite;
}

@keyframes movingArrow {
  0% {
    margin-top: 273px;
  }
  70% {
    margin-top: 265px;
  }
  100% {
    margin-top: 273px;
  }
}
.menu_shortcut {
  max-width: 1296px;
  margin: 24px auto 0;
  position: relative;
}
.menu_shortcut ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.menu_shortcut ul li a {
  text-decoration: underline transparent;
  transition: all 0.3s ease;
}
.menu_shortcut ul li a:hover {
  text-decoration: underline;
}
.menu_shortcut .menu_shortcut_social {
  position: absolute;
  right: 0;
  display: flex;
  gap: 10px;
}
.menu_shortcut .menu_shortcut_social a {
  border-radius: 50%;
  display: flex;
  place-content: center center;
  width: 32px;
  height: 32px;
  padding: 7px;
  background-color: #e8e8e8;
}
.menu_shortcut .menu_shortcut_social a img {
  height: 15px;
}

#about-us {
  padding: 91px 0 118px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #333333;
}
#about-us .home_title h1 {
  font-weight: 400;
  color: #f39800;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 9px;
  font-size: 3.9rem;
  line-height: 3.9rem;
}
#about-us .home_title span {
  font-size: 0.875rem;
  font-weight: 300;
  color: #818181;
}
#about-us .point_card_list {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  margin-top: 18px;
  margin-bottom: 108px;
  row-gap: 70px;
}
#about-us .point_card_list .point_card {
  align-self: center;
  justify-self: center;
  position: relative;
}
#about-us .point_card_list .point_card .point_card_balloon {
  width: 394px;
  height: 394px;
  background-image: url(../asset/SVG/illu-point.svg);
  display: flex;
  flex-direction: column;
  padding: 58px 30px;
  text-align: center;
}
#about-us .point_card_list .point_card .point_card_balloon .point_count {
  font-size: 1.56rem;
  line-height: 1.56rem;
  font-weight: 400;
  margin-bottom: 54px;
}
#about-us .point_card_list .point_card .point_card_balloon h4 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 500;
  margin-bottom: 46px;
}
#about-us .point_card_list .point_card .point_card_balloon h4 span {
  font-weight: 500;
  border-bottom: 6px solid rgba(243, 152, 0, 0.2);
}
#about-us .point_card_list .point_card .point_card_balloon p {
  line-height: 1.8125rem;
  max-width: 270px;
  display: block;
  margin: auto;
}
#about-us .point_card_list .point_card img {
  position: absolute;
}
#about-us .point_card_list .point_card:first-child img {
  width: 115px;
  left: -58px;
  bottom: -67px;
}
#about-us .point_card_list .point_card:nth-child(2) img {
  width: 113px;
  left: -112px;
  bottom: -43px;
}
#about-us .point_card_list .point_card:nth-child(3) img {
  width: 80px;
  left: -70px;
  bottom: -14px;
}
#about-us .point_card_list .point_card:last-child img {
  width: 168px;
  left: -102px;
  bottom: -16px;
}
#about-us .btn_more {
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 1.1875rem;
  width: 299px;
  min-width: 299px;
  padding: 16px 0;
  margin: 0 auto;
  border: 1px solid #f39800;
  border-radius: 8px;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
}

#inform {
  width: 1080px;
  height: 403px;
  border-radius: 10px;
  padding: 43px 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  position: relative;
  box-shadow: 10px 8px 0px #d9d9d9;
}
#inform .icon_circle {
  border-radius: 50%;
  display: flex;
  place-content: center center;
  width: 70px;
  height: 70px;
  padding: 17px;
  background-color: #f39800;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(50% 50%);
  margin-top: -35px;
  margin-left: -35px;
}
#inform .home_title h1 {
  font-weight: 400;
  color: #f39800;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 9px;
  font-size: 3.9rem;
  line-height: 3.9rem;
}
#inform .home_title span {
  font-size: 0.875rem;
  font-weight: 300;
  color: #818181;
}
#inform ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 20px;
  gap: 10px;
  margin: 34px 0 76px;
}
#inform .btns {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#inform .btns .btn_kochira {
  width: 400px;
  min-width: 400px;
  padding: 23px 0;
  margin: 0 auto;
  border: 1px solid #f39800;
  border-radius: 8px;
  text-align: center;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  font-weight: 500;
}
#inform .btns .btn_kochira img {
  width: 27px;
}

.full_width_staff_schedule {
  height: 570px;
  min-height: 570px;
  max-height: 570px;
  margin-top: 72px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  overflow: hidden;
}
.full_width_staff_schedule .full_width_devided_background_left {
  background-image: url(../asset/png/staff.png);
  background-size: cover;
}
.full_width_staff_schedule .full_width_devided_background_right {
  background-image: url(../asset/png/doctorschedule.png);
  background-size: cover;
}
.full_width_staff_schedule #staff-and-schedule {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(50% 50%);
  margin-top: -285px;
  margin-left: -540px;
}
.full_width_staff_schedule #staff-and-schedule .card_stripe {
  width: 100%;
  height: 100%;
  padding: 6px;
  border-radius: 10px;
  background-image: repeating-linear-gradient(-45deg, #ffffff 0, #ffffff 7px, black 7px, black 9px);
  width: 465px;
  height: 289px;
  position: relative;
}
.full_width_staff_schedule #staff-and-schedule .card_stripe .icon_circle {
  border-radius: 50%;
  display: flex;
  place-content: center center;
  width: 70px;
  height: 70px;
  padding: 17px;
  background-color: #f39800;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(50% 50%);
  margin-top: -35px;
  margin-left: -35px;
}
.full_width_staff_schedule #staff-and-schedule .card_stripe .card_stripe_background {
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.full_width_staff_schedule #staff-and-schedule .card_stripe .card_stripe_background .home_title h1 {
  font-weight: 400;
  color: #f39800;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 9px;
  font-size: 3.125rem;
  line-height: 3.125rem;
  white-space: nowrap;
}
.full_width_staff_schedule #staff-and-schedule .card_stripe .card_stripe_background .home_title span {
  font-size: 0.875rem;
  font-weight: 300;
  color: #818181;
}

#mushiba {
  height: 408px;
  border-radius: 10px;
  position: relative;
  margin-top: 92px;
}
#mushiba .mushiba_img_wrapper {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-image: url(../asset/png/mushiba.png);
  background-size: cover;
  position: absolute;
  top: 26px;
  left: 26px;
  z-index: -1;
}
#mushiba .mushiba_border_wrapper {
  width: inherit;
  height: inherit;
  overflow: hidden;
  background-color: transparent;
  border-radius: inherit;
}
#mushiba .mushiba_border_wrapper .mushiba_border {
  color: #ffffff;
  border: 10px solid #ffffff;
  width: 100%;
  height: 100%;
  border-image: repeating-linear-gradient(-45deg, #ffffff 0, #ffffff 7px, black 7px, black 9px) 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
  padding: 42px;
}
#mushiba .mushiba_border_wrapper .mushiba_border .home_title h1 {
  font-weight: 400;
  color: #f39800;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 9px;
  font-size: 3.9rem;
  line-height: 3.9rem;
  color: #ffffff;
}
#mushiba .mushiba_border_wrapper .mushiba_border .home_title span {
  font-size: 0.875rem;
  font-weight: 300;
  color: #ffffff;
}
#mushiba .mushiba_border_wrapper .mushiba_border .mushiba_illust {
  width: 38px;
}
#mushiba .mushiba_border_wrapper .mushiba_border .btn_more {
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 1.1875rem;
  width: 299px;
  min-width: 299px;
  padding: 16px 0;
  margin: 0 auto;
  border: 1px solid #f39800;
  border-radius: 8px;
  text-align: center;
  vertical-align: middle;
  background-color: #f39800;
}

#album {
  padding: 130px 0 93px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
#album .home_title {
  position: relative;
}
#album .home_title h1 {
  font-weight: 400;
  color: #f39800;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 9px;
  font-size: 3.9rem;
  line-height: 3.9rem;
}
#album .home_title span {
  font-size: 0.875rem;
  font-weight: 300;
  color: #818181;
}
#album .home_title .absolute_illust {
  width: 150px;
  position: absolute;
  top: 6px;
  left: -163px;
}
#album .album_social {
  font-weight: 300;
  color: #f39800;
  align-self: flex-end;
  display: flex;
  gap: 13px;
}
#album .album_social .icon_circle {
  border-radius: 50%;
  display: flex;
  place-content: center center;
  width: 32px;
  height: 32px;
  padding: 7px;
  background-color: #e8e8e8;
}
#album .gallery {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
#album .gallery .gallery_image_wrapper {
  width: 257px;
}

.full_width_new_topic {
  padding: 60px 0 39px;
  height: 362px;
  position: relative;
  background-color: #f2f2f2;
  border-bottom: 7px solid #f39800;
}
.full_width_new_topic #news-and-topics .home_title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
}
.full_width_new_topic #news-and-topics .home_title img {
  width: 26px;
}
.full_width_new_topic #news-and-topics .home_title h1 {
  font-weight: 400;
  color: #f39800;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 9px;
  font-size: 2.375rem;
  line-height: 2.375rem;
}
.full_width_new_topic #news-and-topics ul {
  margin-top: 67px;
}
.full_width_new_topic #news-and-topics ul li {
  font-weight: 500;
  margin-bottom: 20px;
}
.full_width_new_topic #news-and-topics ul li span {
  color: #f39800;
}
.full_width_new_topic #news-and-topics .btn_more {
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 1.1875rem;
  width: 299px;
  min-width: 299px;
  padding: 16px 0;
  margin: 0 auto;
  border: 1px solid #f39800;
  border-radius: 8px;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 0;
}
.full_width_new_topic .absolute_illust {
  width: 153px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: 274px;
}

#blog {
  padding: 100px 0 134px;
}
#blog .home_title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
}
#blog .home_title img {
  width: 26px;
}
#blog .home_title h1 {
  font-weight: 400;
  color: #f39800;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 9px;
  font-size: 2.375rem;
  line-height: 2.375rem;
}
#blog ul {
  margin-top: 55px;
  margin-bottom: 85px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 57px;
}
#blog ul li {
  display: flex;
  gap: 13px;
}
#blog ul li .blog_image_wrapper {
  width: 107px;
  min-width: 107px;
  height: 107px;
  min-height: 107px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
#blog ul li .blog_image_wrapper img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
#blog ul li .blog_description {
  width: 194px;
  overflow: hidden;
  text-align: left;
}
#blog ul li .blog_description span {
  color: #f39800;
}
#blog .btn_more {
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 1.1875rem;
  width: 299px;
  min-width: 299px;
  padding: 16px 0;
  margin: 0 auto;
  border: 1px solid #f39800;
  border-radius: 8px;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 0;
}

.full_width_recruit {
  height: 610px;
  min-height: 610px;
  background-image: url(../asset/png/recruit.png);
  background-size: cover;
  background-position: center;
}
.full_width_recruit #recruit {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.full_width_recruit #recruit h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
}
.full_width_recruit #recruit .recruit_card_list {
  margin: 57px 0 35px;
  display: flex;
  justify-content: space-between;
}
.full_width_recruit #recruit .recruit_card_list .recruit_card {
  width: 504px;
  height: 301px;
  border-radius: 10px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 262px;
  overflow: hidden;
}
.full_width_recruit #recruit .recruit_card_list .recruit_card .recruit_card_image_wrapper {
  background-color: #f3f0e9;
}
.full_width_recruit #recruit .recruit_card_list .recruit_card article {
  padding: 30px 46px 0px 21px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.full_width_recruit #recruit .recruit_card_list .recruit_card article h4 {
  font-size: 1.3125rem;
  line-height: 1.3125rem;
}
.full_width_recruit #recruit .recruit_card_list .recruit_card article span {
  color: #f39800;
}
.full_width_recruit #recruit .btn_more {
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 1.1875rem;
  width: 299px;
  min-width: 299px;
  padding: 16px 0;
  margin: 0 auto;
  border: 1px solid #f39800;
  border-radius: 8px;
  text-align: center;
  vertical-align: middle;
  background-color: #f39800;
}

.full_width_clinic_hours {
  height: 1053px;
  min-height: 1053px;
  padding-top: 122px;
  background-color: #f2f2f2;
  border-color: #ffffff;
  border-style: solid;
  border-width: 0 0 10px 0;
  width: 100%;
  height: 100%;
  border-image: repeating-linear-gradient(-45deg, #ffffff 0, #ffffff 7px, black 7px, black 9px) 10;
}
.full_width_clinic_hours #clinic-hours > img {
  width: 46px;
}
.full_width_clinic_hours #clinic-hours .home_title {
  position: relative;
}
.full_width_clinic_hours #clinic-hours .home_title h1 {
  font-weight: 400;
  color: #f39800;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 9px;
  font-size: 3.9rem;
  line-height: 3.9rem;
}
.full_width_clinic_hours #clinic-hours .home_title span {
  font-size: 0.875rem;
  font-weight: 300;
  color: #818181;
}
.full_width_clinic_hours #clinic-hours .home_title img {
  width: 111px;
  position: absolute;
  top: -14px;
  right: 240px;
}
.full_width_clinic_hours #clinic-hours .clinic_hours_time_description {
  margin: 17px 0 68px;
  font-size: 1.125rem;
  font-weight: 500;
}
.full_width_clinic_hours #clinic-hours table {
  margin: 0 auto;
  width: calc(100% - 150px);
  border-collapse: collapse;
}
.full_width_clinic_hours #clinic-hours table caption {
  margin-top: 37px;
  caption-side: bottom;
  font-weight: 300;
}
.full_width_clinic_hours #clinic-hours table,
.full_width_clinic_hours #clinic-hours table td,
.full_width_clinic_hours #clinic-hours table th {
  border: 1px solid #cccccc;
}
.full_width_clinic_hours #clinic-hours table td,
.full_width_clinic_hours #clinic-hours table th {
  height: 52px;
  vertical-align: middle;
  font-weight: 500;
}
.full_width_clinic_hours #clinic-hours table thead {
  background-color: #f39800;
  color: #ffffff;
}
.full_width_clinic_hours #clinic-hours table tbody {
  background-color: #ffffff;
}
.full_width_clinic_hours #clinic-hours .clinic_hours_dials {
  margin: 62px 0 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.full_width_clinic_hours #clinic-hours .clinic_hours_dials .clinic_hours_dials_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 38px;
  border-bottom: 5px solid #f39800;
}
.full_width_clinic_hours #clinic-hours .clinic_hours_dials .clinic_hours_dials_button p {
  font-size: 1.04rem;
  font-weight: 400;
}
.full_width_clinic_hours #clinic-hours .clinic_hours_dials .clinic_hours_dials_button h4 {
  font-size: 2.04rem;
  font-weight: 400;
}
.full_width_clinic_hours #clinic-hours .btn_kochira {
  width: 400px;
  min-width: 400px;
  padding: 23px 0;
  margin: 0 auto;
  border: 1px solid #f39800;
  border-radius: 8px;
  text-align: center;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  font-weight: 500;
}
.full_width_clinic_hours #clinic-hours .btn_kochira img {
  width: 27px;
}

#access {
  margin: 90px auto 150px;
}
#access .home_title h1 {
  font-weight: 400;
  color: #f39800;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 9px;
  font-size: 3.9rem;
  line-height: 3.9rem;
}
#access .home_title span {
  font-size: 0.875rem;
  font-weight: 300;
  color: #818181;
}
#access .access_information {
  margin-top: 45px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#access .access_information .access_information_image_wrapper {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-image: url(../asset/png/access.png);
  background-size: cover;
}
#access .access_information .access_information_description {
  padding: 30px 60px;
  text-align: left;
  font-size: 1.08rem;
  font-weight: 500;
}
#access .access_information .access_information_description .access_information_description_address {
  margin-bottom: 40px;
}
#access .access_information .access_information_description .access_information_description_transport {
  display: flex;
  margin-bottom: 22px;
  gap: 12px;
  align-items: center;
}
#access .access_information .access_information_description .access_information_description_transport .icon_circle {
  border-radius: 50%;
  display: flex;
  place-content: center center;
  width: 87px;
  height: 87px;
  padding: 22px;
  background-color: #f5f5f5;
}

#google-map {
  width: 100%;
  height: 50vh;
}

#btn-page-top {
  width: 71px;
  height: 71px;
  border-radius: 50%;
  background-color: #f39800;
  font-size: 0.9372rem;
  font-weight: 500;
  border: 0;
  position: fixed;
  z-index: 1;
  right: 72px;
  bottom: 194px;
}

footer img {
  width: 220px;
  margin: 24px 0 32px;
}
footer nav ul {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 47px;
  font-size: 0.9372rem;
}
footer nav ul a {
  text-decoration: underline transparent;
  transition: all 0.3s ease;
}
footer nav ul a:hover {
  text-decoration: underline;
}
footer small {
  display: block;
  width: 100%;
  padding: 10px 0 6px;
  font-size: 0.8125rem;
  color: #ffffff;
  background-color: #353535;
}

/*# sourceMappingURL=styles.css.map */
