@mixin headerDial($screenSize) {
  @if $screenSize == "web" {
    margin-left: 15px;
    width: 195px;
    height: 63px;
    background-color: $color-orange;
    border-radius: 0 0 15px 15px;
    color: $color-white;
    text-align: center;
    p {
      font-size: $font-size-header-dial-jp;
      font-weight: $font-weight-medium;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 7px;
      img {
        width: 17px;
        height: 17px;
      }
      p {
        font-size: $font-size-header-dial-numb;
      }
    }
  } @else if $screenSize == "mobile" {
    margin-left: 0;
    margin-bottom: 10px;
    width: 60px;
    height: 130px;
    background-color: $color-orange;
    border-radius: 0;
    padding: 10px;
    color: $color-white;
    p {
      font-size: $font-size-header-dial-jp-mobile;
      font-weight: $font-weight-medium;
      writing-mode: vertical-rl;
      word-break: normal;
      margin: auto;
    }
    div {
      display: none;
    }
  }
}

@mixin clinicHoursDial {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  border-bottom: 5px solid $color-orange;
  p {
    font-size: $font-size-clinichours-dial-jp;
    font-weight: $font-weight-medium;
  }
  h4 {
    font-size: $font-size-clinichours-dial-numb;
    font-weight: $font-weight-medium;
  }
  @include responsive("mobile") {
    h4 {
      font-size: $font-size-clinichours-dial-numb-mobile;
    }
  }
}

@mixin pointBalloon {
  width: 100%;
  height: 100%;
  background-image: url(../asset/SVG/illu-point.svg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;

  .point_count {
    @extend %fontOther;
    font-size: $font-size-point-title-en;
    line-height: $font-size-point-title-en;
    font-weight: $font-weight-medium;
  }

  h4 {
    font-size: $font-size-point-title-jp;
    line-height: $font-size-point-title-jp;
    font-weight: $font-weight-bold;

    span {
      font-weight: $font-weight-bold;
      border-bottom: 6px solid $color-orange-opacity;
    }
  }

  p {
    line-height: $font-line-height-normal;
    max-width: 270px;
    display: block;
    margin: auto;
  }
}

@mixin buttonMore($backgroundColor) {
  @extend %fontOther;
  font-size: $font-size-more;
  font-weight: $font-weight-medium;
  line-height: $font-size-more;
  width: 100%;
  max-width: 299px;
  padding: 16px 0;
  margin: 0 auto;
  border: 1px solid $color-orange;
  border-radius: 8px;
  text-align: center;
  vertical-align: middle;

  @if ($backgroundColor == "orange") {
    background-color: $color-orange;
  } @else if($backgroundColor == "transparent") {
    background-color: transparent;
  } @else if($backgroundColor == "withoutBorder") {
    background-color: transparent;
    border: 0;
  }
}

@mixin iconCircle($type) {
  border-radius: 50%;
  display: flex;
  place-content: center center;

  @if $type == "social" {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    padding: 7px;
    background-color: $color-icon-background-social;
  } @else if $type == "icon" {
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;
    padding: 17px;
    background-color: $color-orange;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(50% 50%);
    margin-top: -35px;
    margin-left: -35px;
  } @else if $type == "access" {
    width: 87px;
    height: 87px;
    min-width: 87px;
    min-height: 87px;
    padding: 22px;
    background-color: $color-icon-background-access;
  }
}

@mixin buttonKochira {
  width: 100%;
  max-width: 400px;
  padding: 23px 0;
  margin: 0 auto;
  border: 1px solid $color-orange;
  border-radius: 8px;
  text-align: center;
  background-color: $color-white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 13px;
  font-weight: $font-weight-bold;
  img {
    width: 27px;
  }
}

@mixin Stripe($type) {
  width: 100%;
  height: 100%;

  @if ($type== "fill") {
    padding: 6px;
    border-radius: 10px;
    background-image: repeating-linear-gradient(
      -45deg,
      $color-white 0,
      $color-white 7px,
      black 7px,
      black 9px
    );
  } @else {
    border-image: repeating-linear-gradient(
        -45deg,
        $color-white 0,
        $color-white 7px,
        black 7px,
        black 9px
      )
      10;
  }
}

@mixin linkHoverUnderline {
  text-decoration: underline transparent;
  transition: all 0.3s ease;
  &:hover {
    text-decoration: underline;
  }
}
