@mixin buttonMore($backgroundColor) {
  width: 299px;
  height: 46px;
  border: 1px solid $color-orange;
  border-radius: 8px;
  margin: auto;
  @if$backgroundColor == "orange" {
    background-color: $color-orange;
  } @else {
    background-color: transparent;
  }
}
