@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&family=Oswald:wght@300;400;500;600;700&display=swap");
/* color */
$color-orange: #f39800;
$color-orange-opacity: rgba(243, 152, 0, 0.2);
$color-inform-backgroudnd-clor: #f2f2f2;
$color-shadow-gray: #d9d9d9;
$color-baikin-backgorund-color: #f3f0e9;
$color-icon-background-access: #f5f5f5;
$color-icon-background-social: #e8e8e8;
$color-footer-fill: #353535;
$color-font-body: #000000;
$color-font-subtitle: #818181;
$color-font-header-en: #242424;
$color-font-header-jp: #949494;
$color-font-about-us: #333333;
$color-white: white;
/* font */
$font-size-normal: 1rem;
$font-line-height-normal: 1.8125rem;
$font-size-header-en: 0.825rem;
$font-size-header-jp: 0.625rem;
$font-size-header-dial-numb: 1.5rem;
$font-size-header-dial-jp: 0.873rem;
$font-size-lp: 2rem;
$font-size-lp-under-menu: 1.125rem;

$font-size-section-title: 3.9rem;
$font-size-section-title-smaller: 2.4rem;
$font-size-section-subtitle: 0.875rem;

$font-size-new-anchor-list: 1.125rem;
$font-size-point-title-en: 1.56rem;
$font-size-point-title-jp: 1.5rem;
$font-size-recruit-title: 2rem;
$font-size-recruit-namae: 1.3125rem;
$font-size-clinichours-important-description: 1.125rem;
$font-size-clinichours-timetable: 1.25rem;
$font-size-clinichours-dial-jp: 1.04rem;
$font-size-clinichours-dial-numb: 2.04rem;
$font-size-access-description: 1.08rem;

$font-size-more: 1.1875rem;
$font-size-shareinsta: 0.9375rem;
$font-size-page-top: 0.9372rem;
$font-size-footer-menu: 0.9372rem;
$font-size-footer: 0.8125rem;

$font-weight-hard: 700;
$font-weight-bold: 500;
$font-weight-medium: 400;
$font-weight-regular: 300;
$font-weight-demilight: 100;
