@import "_reset";
@import "_variables";
@import "_mixins";
@import "_component";

body {
  width: 100%;
  height: 100vh;
  font-family: "Noto Sans JP", sans-serif;
  -webkit-text-size-adjust: 100%;
}

main {
  margin: 0 auto;
}

a {
  color: $color-font-body;
}

header {
  width: 100%;
  height: 83px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  position: fixed;
  background-color: $color-white;
  .header_wrapper {
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .header_logo {
      width: 161px;
      height: 55px;
      overflow: hidden;
      position: relative;
      margin-top: 2px;
      img {
        width: 100%;
        position: absolute;
      }
    }
    .header_menu {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      .header_nav ul {
        width: 100%;
        margin-top: 11px;
        display: flex;
        gap: 25px;
        text-align: center;

        li {
          a p:first-child {
            font-size: $font-size-header-en;
            font-weight: $font-weight-medium;
            color: $color-font-header-en;
            text-transform: uppercase;
          }
          a p:last-child {
            font-size: $font-size-header-jp;
            font-weight: $font-weight-regular;
            color: $color-font-header-jp;
          }
        }
      }

      .header_dial {
        @extend %dial;
        align-self: flex-start;
      }
    }
  }
}

.landing_page_wrapper {
  width: 100%;
  height: 100vh;
  max-height: 1063px;
  overflow: hidden;
  background-image: url(../asset/png/lp.png);
  background-size: cover;
  position: relative;
  .landing_page_logo {
    width: 519px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50% 50%);
    margin-left: -259.5px;
    margin-top: -88.5px;
    p {
      font-size: $font-size-lp;
      color: $color-white;
    }
  }
}

.menu_shortcut {
  max-width: 1296px;
  margin: auto;
  padding-top: 24px;
  position: relative;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  .menu_shortcut_social {
    position: absolute;
    right: 0;
    display: flex;
    gap: 10px;
    a {
      width: 32px;
      height: 32px;
      padding: 7px;
      border-radius: 50%;
      background-color: $color-icon-background-social;
      display: flex;
      place-content: center center;
      &:first-child img {
        height: 18px;
      }

      &:last-child img {
        height: 15px;
      }
    }
  }
}

.container {
  max-width: 1079px;
}
