@import "_reset";
@import "_variables";
@import "_button_component";
@import "font-component";

body {
  @extend %fontNormal;
  width: 100%;
  height: 100vh;
  -webkit-text-size-adjust: 100%;
}
.font_other {
  @extend %fontOther;
}
main {
  margin: 0 auto;
}
a {
  color: $color-font-body;
}
header {
  width: 100%;
  height: 83px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  position: fixed;
  background-color: $color-white;
  .header_wrapper {
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .header_logo {
      width: 161px;
      height: 55px;
      overflow: hidden;
      position: relative;
      margin-top: 2px;
      img {
        width: 100%;
        position: absolute;
      }
    }
    .header_menu {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      .header_nav ul {
        width: 100%;
        margin-top: 11px;
        display: flex;
        gap: 25px;
        text-align: center;

        li {
          @extend %headerMenu;
        }
      }

      .header_dial {
        @extend %headerDial;
        align-self: flex-start;
      }
    }
  }
}

.landing_page_wrapper {
  width: 100%;
  height: 100vh;
  max-height: 1063px;
  overflow: hidden;
  background-image: url(../asset/png/lp.png);
  background-size: cover;
  position: relative;
  .landing_page_logo {
    width: 519px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50% 50%);
    margin-left: -259.5px;
    margin-top: -88.5px;

    img {
      width: 519px;
      margin-bottom: 29px;
    }
    p {
      font-size: $font-size-lp;
      font-weight: $font-weight-regular;
      color: $color-white;
    }
    .landing_page_arrow {
      height: 26.69px;
      width: 53.38px;
      position: inherit;
      top: 50%;
      left: 50%;
      margin-top: 273px;
      transform: translate(50% 50%);
    }
  }
}

.menu_shortcut {
  max-width: 1296px;
  margin: auto;
  padding-top: 24px;
  padding-bottom: 91px;
  position: relative;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    li {
      @extend %menuShortcutUnderLP;
    }
  }

  .menu_shortcut_social {
    position: absolute;
    right: 0;
    display: flex;
    gap: 10px;
    a {
      @include iconCircle("social");
      img {
        height: 15px;
      }
    }
  }
}

.container {
  max-width: 1079px;
  margin: auto;
}

.home_title_big {
  @include homeTitle("big");
}
#about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $color-font-about-us;
  .point_card_list {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    margin-top: 18px;
    margin-bottom: 108px;
    row-gap: 70px;
    .point_card {
      align-self: center;
      justify-self: center;
      position: relative;
      .point_card_balloon {
        @extend %pointBalloon;
      }
      img {
        position: absolute;
      }

      &:first-child {
        img {
          width: 115px;
          left: -58px;
          bottom: -67px;
        }
      }
      &:nth-child(2) {
        img {
          width: 113px;
          left: -112px;
          bottom: -43px;
        }
      }
      &:nth-child(3) {
        img {
          width: 80px;
          left: -70px;
          bottom: -14px;
        }
      }
      &:last-child {
        img {
          width: 168px;
          left: -102px;
          bottom: -16px;
        }
      }
    }
  }
  .btn_more {
    @include buttonMore("transparent");
  }
}

#inform {
  width: 1080px;
  height: 403px;
  border-radius: 10px;
  margin-top: 118px;
  padding: 43px 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $color-inform-backgroudnd-clor;
  position: relative;
  box-shadow: 10px 8px 0px $color-shadow-gray;
  .icon_circle {
    @include iconCircle("icon");
  }

  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 20px;
    gap: 10px;
    text-align: center;
    margin: 34px 0 76px;
  }

  .btns {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .btn_kochira {
      @include btnKochira;
    }
  }
}

.full_width_devided {
  width: 100%;
  height: 570px;
  margin-top: 72px;
  margin-bottom: 92px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  overflow: hidden;

  #staff-and-schedule {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 50%;
    left: 50%;
    margin-left: -539.5px;
    margin-top: -144.5px;
    transform: translate(50% 50%);
    a {
      width: 465px;
      height: 289px;
      border-radius: 10px;
      background-color: $color-white;
      background-image: repeating-linear-gradient(
        -45deg,
        $color-white 0,
        $color-white 2px,
        black 2px,
        black 4px
      );
      position: relative;
      text-align: center;
      .icon_circle {
        @include iconCircle("icon");
      }
      .home_title_small {
        @include homeTitle("small");
      }
    }
  }
}
